$transition-duration: 500ms;
$transition-delay: 250ms;
$transition-fn: ease-in-out;
$effect-factor: 1.25;

.lens {
  .k-track-container {
    position: relative;
    margin-left: 0;
    transition: margin-left $transition-duration $transition-fn $transition-delay;

    $factor: ($effect-factor - 1);
    &.stepBack {
      margin-left: calc(var(--slide-width) * #{-$factor / 2});
      &.firstFocused {
        margin-left: 0;
      }
      &.lastFocused {
        margin-left: calc(var(--slide-width) * #{-$factor});
      }
    }
  }

  .lens-wrapper {
    transition: transform $transition-duration $transition-fn $transition-delay;
    width: var(--slide-width);
    margin: 0 auto;
  }

  .k-slide {
    margin-left: 0;
    margin-right: 0;
  }

  .k-slide-visible {
    transition: opacity 300ms ease-in-out,
    width $transition-duration $transition-fn $transition-delay;
    margin: 0;

    &:hover {
      width: calc(var(--slide-width) * #{$effect-factor});

      .lens-wrapper {
        transform: scale($effect-factor);
      }
    }
  }
}
