$transition-duration: 500ms;
$transition-delay: 250ms;
$transition-fn: ease-in-out;
$effect-factor: 1.15;

.lens {
  overflow: hidden;
  margin-bottom: 2em;
  .k-track-container {
    overflow: visible;
    position: relative;
    margin-left: 0;
    transition: margin-left $transition-duration $transition-fn;

    $factor: ($effect-factor - 1);
    &.stepBack {
      transition-delay: $transition-delay;
      margin-left: calc(var(--slide-width) * #{-$factor / 2});
      &.firstFocused {
        margin-left: 0;
      }
      &.lastFocused {
        margin-left: calc(var(--slide-width) * #{-$factor});
      }
    }
  }

  .lens-wrapper {
    transition: transform $transition-duration $transition-fn;
    width: var(--slide-width);
    margin: 0 auto;
  }

  .k-slide {
    margin-left: 0;
    margin-right: 0;
  }

  .k-slide-visible {
    transition: opacity 300ms ease-in-out,
    width $transition-duration $transition-fn;
    margin: 0;

    &:hover {
      transition-delay: $transition-delay;
      width: calc(var(--slide-width) * #{$effect-factor});

      .lens-wrapper {
        transition-delay: $transition-delay;
        transform: scale($effect-factor);
      }
    }
  }
}
