.krousel {
  white-space: nowrap;
  position: relative;
  --slide-width: 0;
  --slide-didx: 0;
}

.k-track-container {
  display: inline-block;
  width: 100%;
}

.k-track {
  transition-timing-function: ease-in-out;

  &:before, &:after {
    display: table;
    content: '';
    clear: both;
  }

  &:after {
    clear: both;
  }

  // Transition Slinding
  &.k-tr-slide {
    --dX: calc(-1 * var(--slide-width) * var(--slide-didx));
    transform: translate3d(var(--dX), 0, 0);
    transition-property: transform;

    .k-slide {
      float: left;
    }
  }

  // Transition fading
  &.k-tr-fade {
    display: grid;

    .k-slide {
      grid-column: 1;
      grid-row: 1;
      transition-duration: inherit;
      transition-timing-function: inherit;
      transition-property: opacity;
      opacity: 0;
      z-index: -1;

      &.k-slide-visible {
        opacity: 1;
        z-index: 1;
      }
    }
  }
}

.k-slide {
  width: var(--slide-width);
}

.k-arrow-left,
.k-arrow-right {
  display: inline-block;
  position: absolute;
  z-index: 5;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.k-arrow-left {
  left: 0;
}

.k-arrow-right {
  right: 0;
}

.k-arrow-disabled {
  display: none;
}

.k-dots {
  text-align: center;
}

.k-dot {
  $size: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: $size;
  margin: $size / 2;
  opacity: .2;
  transition: opacity 250ms ease;
  width: $size;
  &.k-current {
    opacity: 1;
  }
}

.k-no-transition {
  transition: none !important;
}