.krousel {
  white-space: nowrap;
  position: relative;
}

.k-track-container {
  display: inline-block;
  width: 100%;
}

.k-track {
  &:before, &:after {
    display: table;
    content: '';
    clear: both;
  }

  &:after {
    clear: both;
  }
}

.k-slide {
  float: left;
}

.k-arrow-left,
.k-arrow-right {
  display: inline-block;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.k-arrow-left {
  left: 0;
}

.k-arrow-right {
  right: 0;
}

.k-arrow-disabled {
  display: none;
}

.k-dots {
  text-align: center;
}

.k-dot {
  $size: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: $size;
  margin: $size / 2;
  opacity: .2;
  transition: opacity 250ms ease;
  width: $size;
  &.k-current {
    opacity: 1;
  }
}